*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-header{
    margin: 15px;
    display: flex;
    align-items:center;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.main-title{
    display: inline;
    font-size: 32px;
}

.main-left{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    position: absolute;
    left: 83%;
}

.user-img{
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  box-sizing: content-box;
  padding: 10px;
}

.sign-out{
    display: inline;
    /* position: absolute;
    left: 92%; */
    width: 110px;
    padding: 10px;
}